.authLayoutContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.authLayoutLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
}
.authLayoutLeftForm {
  width: 20rem;
}
.authLayoutRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58%;
  background-color: var(--color-blue-light);
}

/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
  .authLayoutContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0 auto;
  }
  .authLayoutLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .authLayoutLeftForm {
    margin: 0 auto;
  }
  .authLayoutRight {
    display: none;
  }
}

/*======================= MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 375px) {
  .authLayoutLeftForm {
    padding: 0 1.5rem 0 1.5rem;
    width: 100%;
  }
}
