.playerInfoContainer {
  display: flex;
  flex-direction: row;
  background: rgb(112, 112, 112);
  background: linear-gradient(
    -215deg,
    rgba(112, 112, 112, 1) 0%,
    rgba(57, 57, 57, 1) 100%
  );
  height: 32.8125rem;
}
.playerInfoImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 33.1875rem;
}
.playerInfoImageContainer > img {
  width: 100%;
  object-fit: cover;
}
.playerInfoDescriptionContainer {
  padding: 4.06rem 3.5625rem;
}
.playerInfoName {
  font-family: var(--font-avenir-black);
  font-size: 2.25rem;
  color: var(--color-white);
  margin-bottom: 2.5rem;
}
.playerInfoNumber {
  color: var(--color-red-light);
}
.descriptionGrid {
  position: relative;
  width: 25.625rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 3.375rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-white);
}
.descriptionKey {
  font-family: var(--font-avenir-black);
  font-size: 1.5rem;
}

.descriptionValue {
  font-family: var(--font-avenir-medium);
  font-size: 1.125rem;
}

/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1230px) {
  .playerInfoContainer {
    flex-direction: column;
    height: 46.8125rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
  }
  .playerInfoImageContainer {
    width: 8.9375rem;
    margin-bottom: 3rem;
  }
  .playerInfoDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .playerInfoName {
    font-size: 1.06rem;
  }
  .descriptionGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: unset;
    gap: 2rem;
  }
  .descriptionContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .descriptionKey {
    font-size: 1.06rem;
  }

  .descriptionValue {
    font-size: 0.9375rem;
  }
}
