.teamCardContainer {
  display: flex;
  flex-direction: column;
  background: rgb(112, 112, 112);
  background: linear-gradient(
    -215deg,
    rgba(112, 112, 112, 1) 0%,
    rgba(57, 57, 57, 1) 100%
  );
  min-width: 22.75rem;
  height: 23.75rem;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1;
}
.teamCardImg {
  display: flex;
  height: 17.5rem;
  justify-content: center;
  align-items: center;
}
.teamCardImgPlayer {
  align-items: end;
}
.cardImg {
  width: 9.375rem;
}
.cardImgPlayer {
  width: 17.125rem;
}

.teamCardInfo {
  display: flex;
  flex-direction: column;
  height: 6.25rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-dark);
  font-family: var(--font-avenir-medium);
}

.teamName {
  font-size: 1.125rem;
  color: var(--color-white);
  margin-bottom: 0.75rem;
}

.teamYear {
  font-size: 0.875rem;
  color: var(--color-grey-light);
}
.playerNumber {
  color: var(--color-red-light);
}

/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 767px) {
  .teamCardContainer {
    min-width: 10.59rem;
    height: 12.6rem;
    line-height: 1;
  }
  .teamCardImg {
    height: 6.69rem;
  }
  .teamCardInfo {
    height: 5.875rem;
    padding: 0.6875rem;
  }
  .teamName {
    font-size: 0.9375rem;
    margin-bottom: 0.375rem;
    text-align: center;
    line-height: 1.5;
  }
  .teamYear {
    font-size: 0.8125rem;
  }
  .playerNumber {
    font-size: 0.8125rem;
  }
  .cardImg {
    width: 3.65rem;
  }
  .cardImgPlayer {
    width: 7.6rem;
  }
}
/*======================= MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 375px) {
  .teamCardContainer {
    min-width: 10.59rem;
    height: 12.6rem;
    line-height: 1;
  }
  .teamCardImg {
    height: 6.69rem;
  }
  .teamCardInfo {
    height: 5.875rem;
    padding: 0.6875rem;
  }
  .teamName {
    font-size: 0.9375rem;
    margin-bottom: 0.375rem;
    text-align: center;
    line-height: 1.5;
  }
  .teamYear {
    font-size: 0.8125rem;
    text-align: center;
  }
  .playerNumber {
    font-size: 0.8125rem;
  }
  .cardImg {
    width: 3.65rem;
  }
  .cardImgPlayer {
    width: 7.6rem;
  }
}
