.loginFormHeader {
  font-family: var(--font-avenir-book);
  font-size: 2.25rem;
  color: var(--color-blue);
  margin-bottom: 2rem;
}
.loginFormStyles {
  display: flex;
  flex-direction: column;
}
.loginFormStyles > span {
  margin-top: 0.5rem;
}
.loginFormStyles > span {
  text-align: center;
}

/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
  .loginFormStyles > span {
    text-align: center;
    margin-top: 1rem;
  }
}
