table {
  border-collapse: collapse;
  border-spacing: 0;
}

table,
th,
td {
  border: none;
  padding: 0;
  margin: 0;
}

th,
td {
  padding: 0;
}
.singleTeamTable {
  background-color: var(--color-white);
  border: 0.5px solid var(--color-grey-light);
  border-radius: 10px;
  font-family: var(--font-avenir-medium);
  color: var(--color-grey-light);
  overflow: hidden;
}
.tableHeader {
  font-size: 1.125rem;
  padding: 1rem 2rem;
}
.singleTeamContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.teamInfoTable {
  width: 100%;
}
.teamInfoTable > tbody:last-child {
  border: none !important;
}

.teamInfoTableInner {
  display: flex;
}
.teamInfoTableInner > td {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-top: 0.5px solid var(--color-grey-light);
  text-align: center;
  font-size: 0.875rem;
}
.teamInfoTableInner > tr {
  border-bottom: 0.5px solid var(--color-grey-light);
}
.playerInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.playerDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playerName {
  color: var(--color-grey);
}
.playerAvatar {
  width: 2.5rem;
  border-radius: 50%;
}

.firstColumn {
  width: 5%;
  padding-left: 2rem !important;
  text-align: left !important;
}
.secondColumn {
  width: 70%;
  text-align: left !important;
}
.thirdColumn {
  width: 12%;
}
.fourthColumn {
  width: 10%;
}
.fifthColumn {
  width: 10%;
  padding-right: 2rem !important;
}
@keyframes blink {
  0% {
    background-color: var(--color-red-light);
    color: var(--color-white);
  }
  50% {
    background-color: var(--color-white);
    color: var(--color-black);
  }
  100% {
    background-color: var(--color-red-light);
    color: var(--color-white);
  }
}

.warning {
  background-color: var(--color-red-light);
  color: var(--color-white);
  animation: blink 1.7s 1;
}

.warning .playerName {
  background-color: var(--color-red-light);
  color: var(--color-white);
  animation: blink 1.7s 1;
}
/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1230px) {
  .singleTeamContainer {
    gap: 1rem;
  }
  .tableHeader {
    font-size: 0.9375rem;
    padding: 0.75rem 1rem;
  }
  .firstColumn {
    width: 10%;
    padding-left: 1rem !important;
  }
  .secondColumn {
    width: 90%;
  }
  .thirdColumn {
    display: none !important;
    width: 0%;
  }
  .fourthColumn {
    display: none !important;
    width: 0%;
  }
  .fifthColumn {
    display: none !important;
    width: 0%;
    padding-right: 0;
  }
}
