.playerFormContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  width: 22.875rem;
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.playerInfoStyles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputWrapper {
  width: 171px;
  /*  padding-right: 0.75rem; */
}
