.playersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.actionsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  margin-bottom: 2rem;
}
.actionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 1.5rem;
}
.actionWrapper input {
  width: 22.75rem;
  /* border: 0.5px solid var(--color-grey-lightest); */
}
.actionWrapper > button {
  width: 6.5rem;
}
.cardsContainer {
  width: 100%;
  height: 784px;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  overflow: scroll;
}

.playersNavigation {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
  .playersContainer {
    padding-bottom: 1rem;
  }
  .actionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: max-content;
    margin: 0;
  }

  .actionWrapper {
    flex-direction: column;
    width: 100%;
  }
  .actionsContainer > a {
    width: 100%;
  }
  .actionWrapper > button {
    width: 100%;
  }
  .actionWrapper input {
    width: 100%;
  }
  .cardsContainer {
    width: 100%;
    height: unset;
    padding: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75rem;
    overflow: scroll;
  }
  .teamNavigation {
    margin: 0;
    height: 1.75rem;
  }
}

/*======================= MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 375px) {
  .playersContainer {
    padding-bottom: 1rem;
  }
  .actionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: max-content;
    margin: 0;
  }

  .actionWrapper {
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
  }
  .actionsContainer > a {
    width: 100%;
  }

  .actionWrapper > button {
    width: 100%;
  }
  .cardsContainer {
    width: 100%;
    height: unset;
    padding: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75rem;
    overflow: scroll;
  }
  .teamNavigation {
    margin: 0;
    height: 1.75rem;
  }
}
