.breadcrumbsContainer {
  width: 100%;
  height: 4.3rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: none;
}

.breadcrumbsBorder {
  border: 0.5px solid var(--color-grey-light);
}

.breadcrumbsStyle {
  font-family: var(--font-avenir-medium);
  font-size: 0.875rem;
  color: var(--color-red);
}
.separateStyle {
  margin: 0 0.25rem;
  color: var(--color-grey-light);
}
.singleTeamActions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.deleteButton {
  cursor: pointer;
}

/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
  .breadcrumbsContainer {
    height: 3rem;
    padding: 1rem 0.75rem 1rem 1rem;
  }
  .breadcrumbsStyle {
    font-size: 0.8125rem;
  }
  .singleTeamActions {
    gap: 0.75rem;
  }
}
