.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.notFoundImg {
  margin-bottom: 3rem;
}
.notFoundMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.notFoundTitle {
  font-family: var(--font-avenir-black);
  color: var(--color-red-lightest);
  font-size: 2.25rem;
}

.notFoundSubtitle {
  font-family: var(--font-avenir-book);
  color: var(--color-grey);
  font-size: 1.5rem;
}
/*======================= MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
  .notFoundImg {
    width: 17.2rem;
  }
  .notFoundTitle {
    font-size: 1.06rem;
  }

  .notFoundSubtitle {
    font-size: 0.9375rem;
  }
}
